#b1:hover{
    background-color: black;
    color: antiquewhite;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
#b1{
    transition: transform 0.3s ease-in-out;
}

.navbar {
 text-decoration: none;
 padding:0;
 margin: 0;
}